{% extends "base.html" %}
{% load static from staticfiles %}
{% load bootstrap_tags %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
        Stripe.publishableKey = '{{ publishable }}';
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row m0 p0">
        <div class="col-12 col-md-6">
                <div class="img-detail-container-payment">
                    <img class="rounded img-fluid img-thumbnail" src="{{ MEDIA_URL }}{{ item.image }}" />
                </div>
        </div>
        <div class="col-12 col-md-6">
                    <h3>{{ item.title }}</h3>
                    <!-- <p class="">{{ item.description }}</p> -->
                    <div>Seller: <strong>{{ item.seller }}</strong></div>
                    <div class="">Initial price: <span>{{item.price}} €</span></div>
                    <div class="">Amount to pay:  <span><strong>{{item.highest_bid_offer}} €</strong></span></div>
        </div>        
</div>

<div class="row m0 p0">
    <div class="col-12 payment-detail">
        <strong> Payment Details</strong>
    </div>
</div>
<form role="form" method="post" id="payment-form" action="{% url 'payment' item.id%}">
    

    <div id="credit-card-errors" class="d-none">
        <div class="alert-message block-message error" id="stripe-error-message"></div>
    </div>
<div class="row m0 p0">
    <div class="form-group col-md-6">
        {{ order_form | as_bootstrap }}
    </div>

    <div class="form-group col-md-6">
        {{ payment_form | as_bootstrap }}
        <input class=" btn btn-primary" id="submit_payment_btn" name="commit" type="submit" value="Pay">
    </div>

    {% csrf_token %}
</div>

</form>

{% endblock %}
