{% extends "base.html" %}
{% block content %}
<div class="row m0 p0 justify-content-center">
<div class="col-12 col-xs-10 col-md-8">
    <h2>Success!</h2>
    <p>You are logged in as {{ user.email }} </p>
    <p><a class="" href="{% url 'new_item' %}"><i class="fas fa-plus"></i> Add your item</a> and start an auction to sell it </p>
    <p> Find the items you are selling or you sold <a class="" href="{% url 'search_user' %}">here</a></p>
    <p>You can find the items you are biding or you have bought <a class="" href="{% url 'search_bid_or_bought_user' %}">here</a></p>
</div>
</div>
    
{% endblock %}