{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Auction</title>
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"/>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
      integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP"
      crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>

    <!--/.Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
      <a class="navbar-brand" href="/"
        ><i class="fas fa-gavel"></i>Auctioneer</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto nav-flex-icons">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'new_item' %}"
              ><i class="fas fa-plus"></i> Add your Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
          </li>

          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Log In</a>
          </li>
          {% endif %}
          <li class="nav-item avatar">
            <a class="nav-link p-0" href="{% url 'profile' %}">
              <i class="fas fa-user"></i> {{user.username}}
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <!--/.Navbar-->

    {% if messages %}
    <div class="alert alert-success">
      <div class="messages">
        {% for message in messages %} {{ message }} {% endfor %}
      </div>
    </div>
    {% endif %}

    <br/>

    <div class="row m0 p0 justify-content-center">
      <form id="search-form" action="{% url 'search' %}" method="get">
        <input
          id="search-box"
          type="text"
          placeholder="Search for old item here..."
          name="q"/>

        <button id="search-btn" class="btn p0" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
      </div>

      <div class="row m0 p0 justify-content-center">
        <div class="sort">
          {% if mode == 'all'%}
          <a class="mode-sort" href="{% url 'get_items' %}"
            ><strong>All</strong></a>
          <a href="{% url 'sort_new' %}"><strong>Newest</strong></a>
          <a href="{% url 'sort_price' %}"><strong>Cheapest</strong></a>
          <a href="{% url 'sort_sold' %}"><strong> Sold</strong></a>
          {% elif mode == 'new'%}
          <a href="{% url 'get_items' %}"><strong>All</strong></a>
          <a class="mode-sort" href="{% url 'sort_new' %}"
            ><strong>Newest</strong></a>
          <a href="{% url 'sort_price' %}"><strong>Cheapest</strong></a>
          <a href="{% url 'sort_sold' %}"><strong> Sold</strong></a>
          {% elif mode == 'price'%}
          <a href="{% url 'get_items' %}"><strong>All</strong></a>
          <a href="{% url 'sort_new' %}"><strong>Newest</strong></a>
          <a class="mode-sort" href="{% url 'sort_price' %}"
            ><strong>Cheapest</strong></a>
          <a href="{% url 'sort_sold' %}"><strong> Sold</strong></a>
          {% elif mode == 'sold'%}
          <a href="{% url 'get_items' %}"><strong>All</strong></a>
          <a href="{% url 'sort_new' %}"><strong>Newest</strong></a>
          <a href="{% url 'sort_price' %}"><strong>Cheapest</strong></a>
          <a class="mode-sort" href="{% url 'sort_sold' %}"
            ><strong> Sold</strong></a>
          {% else %}
          <a href="{% url 'get_items' %}"><strong>All</strong></a>
          <a href="{% url 'sort_new' %}"><strong>Newest</strong></a>
          <a href="{% url 'sort_price' %}"><strong>Cheapest</strong></a>
          <a href="{% url 'sort_sold' %}"><strong> Sold</strong></a>
          {% endif %}
        </div>
      </div>

    <div class="mycontainer">
      {% block content %} {% endblock %}
    </div>

    <footer class="page-footer">
      <div class="row justify-content-between">
        <div class="coll col-sm-5">
          <b>ABOUT</b>
          <div class="coll about">
            This online auctioneer is a place to sell your old objects with a
            good price. The items are sold at online auction with limited
            auction time which is determined by the seller. Buying at auction is
            smart for both the buyers and sellers. You can find interesting
            items for your home or collection for less than what it costs to buy
            a new one. And the value lasts the day you want to sell.
          </div>
        </div>
        <div class="col-6 col-sm-4">
          <b>CONTACT</b>
          <div class="coll">Customer service: +23456789</div>
          <div class="coll">help@auctioneer.com</div>
          <address>
            Box 564, Disneyland<br />
            USA
          </address>
        </div>
        <div class="col-4 col-sm-2">
          <b>QUICK LINK</b>
          <div class="coll"><a class="social p0" href="/">About Us</a></div>
          <div class="coll">
            <a class="social p0" href="/">How to auction</a>
          </div>
          <div class="coll"><a class="social p0" href="/">Our policy</a></div>
          <div class="coll"><a class="social p0" href="/">Sitemap</a></div>
        </div>
      </div>
      <hr />
      <div class="row justify-content-between">
        <div class="coll col-sm-6 copyright">
          Copyright <i class="far fa-copyright"></i> 2020 All Rights Reserved By
          <a
            class="meghdad"
            target="_blank"
            href="https://github.com/meghdadyazdi/Auction"
            ><b>Meghdad</b></a>
        </div>
        <div class="coll col-sm-4">
          <a class="social" href="/"><i class="fab fa-twitter"></i></a>
          <a class="social" href="/"><i class="fab fa-facebook-f"></i></a>
          <a class="social" href="/"><i class="fab fa-youtube"></i></a>
          <a class="social" href="/"><i class="fab fa-pinterest-p"></i></a>
          <a class="social" href="/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </footer>

    {% block head_js %} {% endblock head_js %}

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.js"
      integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM="
      crossorigin="anonymous"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
  </body>
</html>
