{% extends "base.html" %} {% block content %}<br><br><br>
<div class="row m0 p0">
  {% for item in items %}

  <div class="col-12 col-xs-6 col-md-4 card-item p0">
    <div class="img-container">
      <img class="img-item" src="/media/{{ item.image }}" />
    </div>
    <!-- <div class="card-container"> -->
    <h6 class="no-flow capital "><b>{{item.title}}</b></h6>
    <!-- </div> -->
    <p class="no-flow">
      <strong> Title:</strong><i class="capital"> {{item.title}} </i>
    </p>
    <p class="no-flow"><strong>Seller :</strong> {{item.seller}}</p>
    <p class="no-flow">
      <strong>Initial Price :</strong> {{item.price }}
    </p>
    <!-- <p class="no-flow m0 p0">
					<strong>Recipe:</strong> {{item.title}}
				</p> -->
    <a class="divLinkkk" href="{% url 'item_detail' item.id %}"></a>
  </div>
  

  
  

  {% endfor %}




</div>

{% endblock %}
