{% extends "base.html" %} {% block content %}



<div class="row m0 p0 justify-content-center">
<!-- <div class="col-12 col-xs-10 col-md-8">sort by:</div> -->
<div class="col-3 p0">
<div class="row m0 p0 justify-content-between justify-content-around">


</div></div>
<div class="col-3 p0"></div>
<div class="col-3 p0"></div>
<div class="col-3 p0"></div>
</div>

<div class="sort-wrap">
<div class="sort">
{% if mode == 'all'%}
<a class="mode-sort" href="/"><strong>All</strong></a>
<a href="{% url 'sort_new' %}"><strong>Newest</strong></a>
<a href="{% url 'sort_price' %}"><strong>Cheapest</strong></a>
<a href="{% url 'sort_sold' %}"><strong> Sold</strong></a>
{% elif mode == 'new'%}
<a href="/"><strong>All</strong></a>
<a class="mode-sort" href="{% url 'sort_new' %}"><strong>Newest</strong></a>
<a href="{% url 'sort_price' %}"><strong>Cheapest</strong></a>
<a href="{% url 'sort_sold' %}"><strong> Sold</strong></a>
{% elif mode == 'price'%}
<a href="/"><strong>All</strong></a>
<a href="{% url 'sort_new' %}"><strong>Newest</strong></a>
<a class="mode-sort" href="{% url 'sort_price' %}"><strong>Cheapest</strong></a>
<a href="{% url 'sort_sold' %}"><strong> Sold</strong></a>
{% elif mode == 'sold'%}
<a href="/"><strong>All</strong></a>
<a href="{% url 'sort_new' %}"><strong>Newest</strong></a>
<a href="{% url 'sort_price' %}"><strong>Cheapest</strong></a>
<a class="mode-sort" href="{% url 'sort_sold' %}"><strong> Sold</strong></a>
{% else %}
<a href="/"><strong>All</strong></a>
<a href="{% url 'sort_new' %}"><strong>Newest</strong></a>
<a href="{% url 'sort_price' %}"><strong>Cheapest</strong></a>
<a href="{% url 'sort_sold' %}"><strong> Sold</strong></a>
{% endif %}

</div>
</div>

<div class="row m0 p0 justify-content-center">
  {% for item in items %}
  <div class="col-12 col-xs-6 col-md-4 card-item p0">
    <div class="img-container">
      <img class="rounded img-fluid img-thumbnail" src="url('{{ MEDIA_URL }}{{ item.image }}')" />
      <div class="sold-img-item"></div>
      {% if item.sold == 1 %}
      <div class="sold">Sold
      <div class="sold-price"><span>{{item.highest_bid_offer}} €</span></div>
      </div>
      {% endif%}
    </div>
    <h5 class="no-flow capital "><b>{{item.title}}</b></h5>
    <div class="no-flow"><strong>Seller :</strong> {{item.seller}}</div>
    <div class="no-flow">
      <strong>Initial Price :</strong> <span>{{item.price}} €</span>
    </div>
    <a class="divLinkkk" href="{% url 'item_detail' item.id %}"></a>
  </div>
  {% endfor %}
</div>

{% if not check_for_pageing %}
<div class="row m0 p0 justify-content-between justify-content-around">
<div class="pagination">
    {% if items.has_previous %}
        <a class="pagination-action" href="?page=1">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
        <a class="pagination-action" href="?page={{ items.previous_page_number }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% else %}
    <a class="pagination-no-action" href="">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
        </a>
        <a class="pagination-no-action" href="">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
    {% endif %}

    {% for num in items.paginator.page_range %}
    {% if items.number == num %}
    <span class="pagination-current">{{num}}</span>
    {% elif num > items.number|add:'-3' and num < items.number|add:'3' %}
    <span class="pagination-total">{{num}}</span>
    {% endif %}
    {% endfor %}

    {% if items.has_next %}
        <a class="pagination-action" href="?page={{ items.next_page_number }}">
            <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
        <a class="pagination-action" href="?page={{ items.paginator.num_pages }}">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% else %}
    <a class="pagination-no-action" href="">
            <i class="fa fa-angle-right" aria-hidden="true"></i> </a>
        <a class="pagination-no-action" href="">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </a>
    {% endif %}
</div>
</div>
{% endif %}
{% endblock %}
