{% extends "base.html" %}

{% block content %}<br><br><br>


<div class="row">
        <div class="col-md-2 col-sm-3 text-center">
            <a class="story-img" href="#">
                <img src="/media/img/meghdad1.JPG" class="img-circle">
            </a>
            <p><span class="boldtext">Author:</span> Niel</p>
        </div>
        <div class="col-sm-10 col-md-9">
        
        <p>You are logged in as {{ user.username }} </p>

            {% if item.image %}
                <img class="img-blogpost" src="/media/{{ item.image }}">
            {% endif %}
            <h3>{{ item.title }}</h3>
            <div class="row">
                <div class="col-xs-9">
                    <p>{{ item.content }}</p>
                    <p><span class="boldtext">Published on:</span> {{ item.published_date }} </p>
                    <p><span class="boldtext">Views:</span> {{item.views}}</p>
                    <p><span class="boldtext">Tag:</span> {{ item.tag }}</p>
                    <a href="{% url 'get_items' %}" class="btn btn-default">Back to Blog</a>
                    <a href="{% url 'edit_item' item.id%}" class="btn btn-default">Edit item</a>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}