{% extends "base.html" %} {% load static from staticfiles %} {% block head_js %}
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

{% endblock %} {% block content %}
<div class="row">
  <div class="col-12 col-md-4 text-center">
    <!-- <form method="post" action="{% url 'item_detail' item.id %}">
      {% csrf_token %}
      <div class="input-group">
        
        
        
      </div>
      
    </form> -->
    <input
      type="hidden"
      id="auction_status"
      name="auction_status"
      value="{{ item.auction_status }}"
    />
    <input
      type="hidden"
      id="auction_time_start"
      name="auction_time_start"
      value="{{ item.auction_time_start }}"
    />
    <input
      type="hidden"
      id="end-time-fix"
      name="end-time-fix"
      value="{{item.auction_end_time}}"
    />
    <input
      type="hidden"
      id="auction-time"
      name="auction-time"
      value="{{item.auction_duration_time}}"
    />

    <div class="timer" id="timer">
      <div class="timer" id="days"></div>
      <div class="timer" id="hours"></div>
      <div class="timer" id="minutes"></div>
      <div class="timer" id="seconds"></div>
    </div>

    {% if item.seller == user.username %}
    <div class="" id="auction_duration">
      <div class="" id="auction_time-select">
        <p>
          <span class="">Choose how long you want to auction your item: </span>
        </p>
        <input
          class=""
          type="number"
          id="time-quantity"
          name="time-quantity"
          min="1"
          max="60"
          value="1"
        />
        <select class="" id="time-scale" name="time-scale">
          <option value="Minutes">Minutes</option>
          <option value="Hours" selected>Hours</option>
          <option value="Days">Days</option>
        </select>

        <span class="input-group-btn" id="">
          <button class="btn btn-success" id="auction-set-time" type="submit">
            Set
          </button>
        </span>
      </div>
      <div class="d-none" id="announce-time">
        <p>
          Your item will be auctioned for
          <span id="auction-time-quantity"></span>
          <span> </span>
          <span id="auction-time-scale"></span>
        </p>
      </div>

      <form method="post" action="{% url 'start_auction' item.id %}" class="accountform">
        {% csrf_token %}
        <input type="hidden" id="end-time-fix-form" name="end-time-fix-form" value=""/>
        <input type="hidden" id="auction-time-form" name="auction-time-form" value=""/>
        <button class="d-none btn btn-success" id="auction_start" type="submit">Start</button>
      </form>
    </div>
    {% endif %}
    
    <p class="">Initial price : <span>{{item.price}} €</span></p>
    
    
    {% if item.highest_bid_offer == 0 %}
    <div class="d-none" id="end-auction-no-bid">
      <p>Auction is finished. No one bidded this item.</p>
    </div>

    <div class="" id="status-no-bid">
      <p>
        No bid yet!
      </p>
    </div>
    {%else%}

    <div class="d-none" id="end-auction-winner">
      <p>Auction is finished. Winner is: {{item.highest_bid_user}}</p>
    </div>

    <div class="" id="status-highest">
      <p>
        The highest bid so far is {{item.highest_bid_offer}} by
        {{item.highest_bid_user}}
      </p>
    </div>
    {% endif %}


    
    

    {% if item.seller != user.username %}
    <div class="" id="before_auction">
      <p>The seller has not started the auction yet</p>
    </div>
    {% endif %} {% if item.highest_bid_user == user.username %}
    <div class="d-none" id="winner">
      <p>You won this item. Now you can pay</p>
      <span class="input-group-btn" id="pay">
        <button class="btn btn-success" type="submit">Check out</button>
      </span>
      <p>
        If you don't pay in 24 hours you cannnot pay it anymore and you will be
        blocked from bidding this item
      </p>
    </div>
    {% endif %}
    
    
    
    
    
    
    {% if item.seller != user.username %}
    <div class="" id="bidding">
      <p>Place a bid and win this item</p>
      <div class="">Bid:</div>
      {% if item.price <= 500 %}
      <button class="btn btn-danger" type="" id="1a">+1€</button>
      <button class="btn btn-danger" type="" id="5a">+5€</button>
      <button class="btn btn-danger" type="" id="10a">+10€</button>
      <button class="btn btn-danger" type="" id="20a">+20€</button>
      {% elif item.price > 500 and item.price <= 1000 %}
      <button class="btn btn-danger" type="" id="10b">+10€</button>
      <button class="btn btn-danger" type="" id="20b">+20€</button>
      <button class="btn btn-danger" type="" id="50b">+50€</button>
      <button class="btn btn-danger" type="" id="100b">+100€</button>
      {% elif item.price > 1000 and item.price <= 5000 %}
      <button class="btn btn-danger" type="" id="50c">+50€</button>
      <button class="btn btn-danger" type="" id="100c">+100€</button>
      <button class="btn btn-danger" type="" id="200c">+200€</button>
      <button class="btn btn-danger" type="" id="500c">+500€</button>
      {% else %}
      <button class="btn btn-danger" type="" id="200d">+200€</button>
      <button class="btn btn-danger" type="" id="500d">+500€</button>
      <button class="btn btn-danger" type="" id="1000d">+1000€</button>
      <button class="btn btn-danger" type="" id="5000d">+5000€</button>
      {% endif %}
    </div>
    {% endif %}
  

  <div class="d-none" id="confirm-bid">Confirm your new bid </div>
  <form method="post" action="{% url 'start_auction' item.id %}" class="accountform p0">
        {% csrf_token %}
        <input type="hidden" id="higher-bid" name="higher-bid" value=""/>
        <button class="d-none btn btn-success" id="higher-bid-confirm" type="submit">Confirm</button>
  </form>
  </div>



  <div class="col-12 col-md-8">
    {% if user.username %}
    <p>You are logged in as {{ user.username }}</p>
    {% else %}
    <p>To start bidding you should log in or register</p>
    {% endif %} {% if item.image %}
    <div class="img-detail-container">
      <img class="img-detail" src="/media/{{ item.image }}" />
    </div>
    {% endif %}
    <h3>{{ item.title }}</h3>
    <p>
      <span class="boldtext"><i class="far fa-eye"></i></span> {{item.views}}
    </p>
    <p>
      <span class="boldtext"><i class="far"></i></span> {{item.auction_status}}
    </p>
    <p>{{ item.content }}</p>
    <p>
      <span class="boldtext"><strong>Description:</strong></span>
    </p>
    <p>{{ item.description }}</p>
    <p><span class="boldtext">Published on:</span> {{ item.published_date }}</p>
    <p><span class="boldtext">#</span> {{ item.tag }}</p>
    <a href="{% url 'get_items' %}" class="btn btn-default">Home</a>
    {% if user.username and user.username == item.seller %}
    <a href="{% url 'edit_item' item.id%}" class="btn btn-default">Edit item</a>
    {% endif %}
    <hr />
    <!-- </div>
    </div> -->
  </div>
</div>

{% endblock %}
