{% extends "base.html" %}
{% load static from staticfiles %}

{% block head_js %}
<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block content %}
<div class="row m0 p0">
<div class="auction-box col-12 col-md-8">
    {% if user.username %}
    <p>You are logged in as {{ user.username }}</p>
    {% else %}
    <p>To start bidding you should log in or register</p>
    {% endif %} {% if item.image %}
    <div class="img-detail-container">
      <img class="rounded img-fluid img-thumbnail" src="{{MEDIA_URL}}{{ item.image }}" />
    </div>
    {% endif %}
    <h3>{{ item.title }}</h3>
    <p>
      <span class="boldtext"><i class="far fa-eye"></i></span> {{item.views}}
    </p>
    <p>{{ item.content }}</p>
    <div>
      <span class="boldtext"><strong>Seller:</strong> {{item.seller}}</span>
    </div>
    <div>
      <span class="boldtext"><strong>Description:</strong> {{ item.description }}</span>
    </div>
    <p class=""><span class="boldtext">#</span>{{ item.tag }}</p>
    <p><i><span class="boldtext">Published on:</span> {{ item.published_date }}</i></p>
    <p></p>
    <a href="{% url 'sort_new' %}" class="btn btn-dark">Home</a>
    {% if user.username and user.username == item.seller  and not item.auction_status %}
    <a href="{% url 'edit_item' item.id%}" class="btn btn-danger">Edit</a>
    {% endif %}
    
  </div>


  <div class="auction-box col-12 col-md-4 text-center">
    <input type="hidden" class="auction_status" name="auction_status" value="{{ item.auction_status }}"/>
    <input type="hidden" id="auction_time_start" name="auction_time_start" value="{{ item.auction_time_start }}"/>
    <input type="hidden" class="end-time-fix" name="end-time-fix" value="{{item.auction_end_time}}"/>
    <input type="hidden" id="auction-time" name="auction-time" value="{{item.auction_duration_time}}"/>
    <input type="hidden" id="user-name" name="user-name" value="{{user.username}}"/>
    
<div class="">

{% if item.seller != user.username %}
    <div class="announce-box" id="before_auction">
      <p class="announce">The seller has not started the auction yet.</p>
    </div>
    {% endif %}

    <div class="d-none dead-timer" id="auction_closed">
      <div class="timer" id="">
      <div class="timer">0<span class="digits">Days</span></div>
      <div class="timer">00<span class="digits">Hours</span></div>
      <div class="timer">00<span class="digits">Minutes</span></div>
      <div class="timer digits-seconds">00<span class="digits">Seconds</span></div>
    </div>
    </div>

    <div class="live-timer d-none" id="auction_running">

    <div class="timer" id="timer">
      <div class="timer" id="days"></div>
      <div class="timer" id="hours"></div>
      <div class="timer" id="minutes"></div>
      <div class="timer" id="seconds"></div>
    </div>
    </div>

    

<div class="announce-box">
    
    {% if item.seller == user.username and not item.sold and not item.auction_status%}
    <div class="" id="auction_duration">
      <div class="" id="auction_time-select">
        <p class="announce">
          Choose how long you want to auction your item:
        </p>
        <input class="" type="number" id="time-quantity" name="time-quantity" min="1" max="60" value="1"/>
        <select class="" id="time-scale" name="time-scale">
          <option value="Minutes">Minutes</option>
          <option value="Hours" selected>Hours</option>
          <option value="Days">Days</option>
        </select>

        <span class="input-group-btn" id="">
          <button class="btn btn-success" id="auction-set-time" type="submit">Set</button>
        </span>
      </div>
      <div class="d-none" id="announce-time">
        <p class="announce">
          Your item will be auctioned for<strong>
          <span id="auction-time-quantity"></span>
          <span> </span>
          <span id="auction-time-scale"></span>
        </strong>
        </p>

      </div>

      <form method="post" action="{% url 'start_auction' item.id %}" class="accountform">
        {% csrf_token %}
        <input type="hidden" id="end-time-fix-form" name="end-time-fix-form" value="0"/>
        <input type="hidden" id="auction-time-form" name="auction-time-form" value="0"/>
        <button class="d-none btn btn-success" id="auction_start" type="submit">Start</button>
      </form>
    </div>
    {% endif %}
    
    
    {% if not item.sold %}
    <p class="announce">Initial price : <span>{{item.price}} €</span></p>
    {% endif %}
   
    {% if item.seller == user.username and item.highest_bid_offer == item.price and item.auction_status and not item.sold %}
    <div class="d-none" id="end-auction-no-bid">
      <p class="announce announce-caution">Auction is finished. No one bidded this item. You can 
      <a href="{% url 'restart_auction' item.id %}" id="restart-auction" class="btn btn-success text-center p0" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>restart</a>
      the auction again.</p>
    </div>

    <div class="" id="status-no-bid">
      <p class="announce">
        No bid yet on this item!
      </p>
    </div>
    {% else %}

    <div class="d-none" id="end-auction-winner">
    {% if user.username and item.highest_bid_user == user.username %}
      {% if not item.sold%}
      <p class="announce">Congragulations!! You won this item</p>
      {% endif%}
    {% else %}
      <p class="announce announce-caution">Auction is finished.</p>
      <p class="announce-winner"><i class="fas fa-trophy"></i><br>Winner is: <span class="winner"><strong> {{item.highest_bid_user}}</strong></span> by <strong>{{item.highest_bid_offer}} €</strong></p>
    {% endif %}
    </div>

    <div class="" id="status-highest">
    {% if user.username and item.highest_bid_user == user.username and not item.sold%}
      <p class="announce">The highest bid so far is <strong>{{item.highest_bid_offer}} €</strong> by
        <strong>You</strong>
      </p>
    {% elif item.auction_status and item.highest_bid_user %}
      <p class="announce">
        The highest bid so far is <strong>{{item.highest_bid_offer}} €</strong> by
        <strong>{{item.highest_bid_user}}</strong>
      </p>
    {% endif %}
    </div>
    {% endif %}

    {% if user.username and item.highest_bid_user == user.username %}
    <div class="d-none" id="winner">
    {% if item.sold == 1 %}  
      <div class="announce text-justify">
      <div>Thanks for your payment <strong>{{item.buyer_name}}</strong></div>
      <div class="">The item will be ship to your address:</div>
      <strong><div class="">{{item.buyer_address}}</div>
      <div class="">{{item.buyer_postdoc}} {{item.buyer_town}}</div>
      <div class="">{{item.buyer_country}}</div></strong>
      </div>

    {% else%}
      <p class="announce">Now you can pay</p>
      <div class="row m0 p0 text-center">

      <form method="post" action="{% url 'payment' item.id %}" class="accountform p0">
        {% csrf_token %}
        <input type="hidden" id="end-of-timer-checkout" name="end-of-timer-checkout" value="0"/>
        <input type="hidden" id="no-form" name="no-form" value="1"/>
        <button class="col btn btn-success" id="checkout" type="submit">Checkout</button>
      </form>
      </div>

      <p class="announce announce-caution">
        If you don't pay in 24 hours you cannot pay anymore and you will be
        blocked from bidding for two months
      </p>{% endif%}
    </div>
    
    {% endif %}
    <div class="announce">
    {% if user.username and item.seller != user.username and item.auction_status and not item.sold%}
    <div class="" id="bidding">
      <div>Place a higher bid and win this item</div>
      {% if item.price < 500 %}
      <button class="btn btn-danger" type="" id="1a">+1€</button>
      <button class="btn btn-danger" type="" id="5a">+5€</button>
      <button class="btn btn-danger" type="" id="10a">+10€</button>
      <button class="btn btn-danger" type="" id="20a">+20€</button>
      {% elif item.price >= 500 and item.price < 1000 %}
      <button class="btn btn-danger" type="" id="10b">+10€</button>
      <button class="btn btn-danger" type="" id="20b">+20€</button>
      <button class="btn btn-danger" type="" id="50b">+50€</button>
      <button class="btn btn-danger" type="" id="100b">+100€</button>
      {% elif item.price >= 1000 and item.price < 5000 %}
      <button class="btn btn-danger" type="" id="50c">+50€</button>
      <button class="btn btn-danger" type="" id="100c">+100€</button>
      <button class="btn btn-danger" type="" id="200c">+200€</button>
      <button class="btn btn-danger" type="" id="500c">+500€</button>
      {% else %}
      <button class="btn btn-danger" type="" id="200d">+200€</button>
      <button class="btn btn-danger" type="" id="500d">+500€</button>
      <button class="btn btn-danger" type="" id="1000d">+1000€</button>
      <button class="btn btn-danger" type="" id="5000d">+5000€</button>
      {% endif %}
    </div>
    {% elif not user.username and not item.sold%}
    <div><p>To place a bid you should first <a class="" href="{% url 'login' %}">Log In</a> or <a class="" href="{% url 'register' %}">Register</a></p></div>
    {% endif %}
  
{% if user.username and not item.sold and item.auction_status%}
  <div class="d-none" id="confirm-bid">Confirm your new bid </div>
  <form method="post" action="{% url 'start_auction' item.id %}" class="accountform p0">
        {% csrf_token %}
        <input type="hidden" id="form-2" name="form-2" value="1"/>
        <input type="hidden" id="higher-bid" name="higher-bid" value=""/>
        <input type="hidden" id="higher-bid-user" name="higher-bid-user" value=""/>
        <input type="hidden" id="end-of-timer" name="end-of-timer" value=""/>
        <button class="d-none btn btn-success" id="higher-bid-confirm" type="submit">Confirm</button>
  </form>
  {% endif %}

</div>

  </div>
  </div>
  </div>

  

  <div class="col-12 announce-box" id="comment">
   <p class=""><b>Seller's Comments:</b></p>
   
   
  <div class="col">
  <p class="seller-comment"><strong>{{item.seller}}</strong>&nbsp;&nbsp;&nbsp;{{item.comment_seller}}</p>
  </div>
 
  {% if user.username == item.seller%}
  <form method="POST" action="{% url 'start_auction' item.id %}" class="accountform" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea id="comments_seller" name="comments_seller" cols="40" rows="4" class=" form-control" required=""></textarea>
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>
 {% endif %}

 <p class=""><b>Buyer's Comments:</b></p>
   
 <div class="col">
  <p class="seller-comment"><strong>{{item.highest_bid_user}}</strong>&nbsp;&nbsp;&nbsp;{{item.comment_winner}}</p>
  </div>

  {% if item.sold == 1 and user.username == item.highest_bid_user%}  
      <form method="POST" action="{% url 'start_auction' item.id %}" class="accountform" enctype="multipart/form-data">
        {% csrf_token %}
        <textarea id="comments_buyer" name="comments_buyer" cols="40" rows="4" class=" form-control" required=""></textarea>
        <button type="submit" class="btn btn-primary">Comment</button>
    </form>
{% endif %}

  </div>
</div>


{% endblock %}